.oregan-input-container {
    min-height: 2rem;

    border: 3px solid #a67b77;

    background-color: whitesmoke;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    flex: 1 0;
}

.oregan-input-container:focus {
    border: 3px solid #a69b77;
    outline: none;
}

.oregan-input {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.oregan-input-placeholder {
    color: lighten(black, 30%);
}
